{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{'Dealer'}} {% endblock title %}
  {% block heading %}  

<div>
    
        <a href="/dealer/new/" class="btn btn-primary btn-sm">Add Dealer Details</a>
        <a href="/dealer/list/" class="btn btn-primary btn-sm">View Dealer Details</a>

    </div>

  {% endblock heading %}

{% block content %}

  
  	

    <form method="POST" class="form-horizontal">{% csrf_token %}
    	
    		

        	{{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>

</div>

    

{% endblock content %}
