<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        
      </button>
      <a class="navbar-brand" href="#">MY SHOP</a>
    </div class="">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/person/new/">Person </a></li>
        <li><a href="/dealer/new/">Dealer</a></li>
        <li><a href="/stock/new/">Stock</a></li>
         
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#login">Login</a></li>
        <li><a href="#Register">Register</a></li>
        <li><a href="#Logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

