{% extends 'base.html' %}
{% load crispy_forms_tags %}



  {% block title %} {{'Stock'}} {% endblock title %}
  {% block heading %} 
<div>
    
        <a href="/stock/new/" class="btn btn-primary btn-sm">Add Stock Details</a>
        <a href="/stock/list/" class="btn btn-primary btn-sm">View Stock Details</a>

    </div>



   {% endblock heading %}
{% block content %}
    <form method="POST" class="form-horizontal">{% csrf_token %}
    	
    		

        	{{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>


    

{% endblock content %}


